<div class="m-2 p-3 mb-2  bg-white text-dark">
  <div class="ms-5 me-5">

    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit magnam qui eaque animi reiciendis
      natus cupiditate omnis nihil. Quaerat porro recusandae explicabo quibusdam mollitia quod veritatis eaque
      obcaecati nemo aspernatur!</p>
  </div>
  <div class="col-md-6 offset-md-3  bg-light">
    <div class="row mb-3 mt-3 p-3">
      <label for="colFormLabel" class="col-sm col-form-label "> Your E-mail</label>
      <div class="col-sm-10 ">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
      </div>
    </div>
    <div class="row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label">Your message</label>
      <div class="col-sm-10">
        <textarea type="email" class="form-control form-control-lg" id="colFormLabelLg"
          placeholder="please enter your message herer..."></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-md-end">
      <button type="button" class="btn btn-primary mt-3">Submit</button>

    </div>
  </div>
</div>