<div class="card mb-2 m-2">
    <div class="row g-0 p-5">
        <img src="assets/img/2.jpg" class="img-fluid col-md-3 offset-1  foto" alt="...">
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">The Second Heading Is Pretty Cool Too.</h1>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consequuntur
                    voluptatem sequi dolorum quia accusamus praesentium iure fuga, voluptate ad architecto tenetur
                    sapiente pariatur eligendi accusantium quasi placeat eaque? Cum..</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>